.logger_container {

    width: 200px;
    height: 200px;
    background-color: white;
    position: fixed;
    bottom: 5px;
    right: 5px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    font-size: 14px;

    div.logger_button_container {
        display: flex;

        button.logger_button {
            flex: 1;
            background-color: white;
            color: black;
            padding: 0;
            font-size: 14px;
        }
    }

    div.logger_logs_container {
        overflow-y: scroll;

        p {
            line-height: 1;
            margin: 0;
        }
    }
}

.logger_toggle {
    height: 100%;
    font-size: 12px;
    cursor: pointer;

    :hover {
        background-color: #000;
    }
}
